* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #fff;
}

body {
  margin: 0;
}

.card {
  width: 30rem;
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
}

.button {
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  border: none;
  color: #2b996d;
  background-color: #fff;
}

.form {
  padding: 1rem;
  max-width: 30rem;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}

.form label {
  display: block;
  height: 2rem;
  line-height: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 30rem;
  border-radius: 4px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}
.userItem {
  display: block;
  width: 100%;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 1px solid #76c0ae;
}
