.error-backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.error {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 12rem;
  overflow: hidden;
  border: 1px solid #76c0ae;
  background-color: #fff;
}

.error-head {
  height: 3rem;
  line-height: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-indent: 0.5rem;
  background: linear-gradient(180deg, #307e6c, #2b996d);
}
.error p {
  align-self: center;
  color: #2b996d;
}
.error footer {
  align-self: flex-end;
}
.error button {
  color: #fff;
  background-color: #2b996d;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
